{% extends 'dashboard.html.twig' %}

{% block title %}New Watcher{% endblock %}

{% block dashboard_content %}
    <h1>Create new Watcher</h1>

    {{ include('watcher_crud/_form.html.twig') }}

    <a href="{{ path('app_watcher_c_r_u_d_index') }}">back to list</a>
{% endblock %}
